:root {
  --body-bg-color: #e5f4f9;
  --body-color-light: #8b939c;
  --body-font: "Roboto", sans-serif;
  --page-bg-color: #f2f5f7;
  --body-color: #3d4954;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2;
}

.book-cards {
  display: grid;
  grid-column-gap: 40px;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.book-card {
  position: relative;
  flex-direction: column;
  font-size: small;
  padding: 0 0 20px 20px;
  margin-top: 20px;
  box-shadow: -1px 3px 8px -1px rgb(0 0 0 / 10%);
}

.content-wrapper {
  flex-wrap: nowrap;
  display: flex;
  border-bottom: 1px solid #ebedef;
}

.book-card-img {
  width: 160px;
  border-radius: 3px;
  box-shadow: 0px 1px 7px 2px #c7c9d3;
  margin-left: -10px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.book-card-img:hover {
  transform: scale(1.04);
}


.card-content {
  position: relative;
  color: var(--body-color);
}

.book-name {
  font-size: 20px;
  font-weight: 500px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-by {
  font-size: 13px;
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.star-input {
  display: none;
}

.rating-star{
  margin-right: 5px;
  margin-top: 10px;
  font-size: 0.9em;
  font-family: FontAwesome;
  display: inline-block;
}


.book-rate{
  display:flex;
  align-items:center;
}
.card-vote{
  font-size : 10px;
  color: rgb(98, 95, 95);
  padding-top: 10px;
}

.header{
  height: 70px;
  width: 100%;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  align-items: center;

}
.browse, .header{
  display:flex;
}
.browse-category {
  display:flex;
  border-right: 1px solid var(--border-color);
  white-space: nowrap;
  align-items: center;
  color: grey;

}

.user-img{
  width:50px;
  border-radius: 50%;
  border-width: 2px;
  margin-right: 20px;
}
.profile{
  display:flex;
  align-items: center;
  color:grey;
}
.profile-menu span{
  font-size: 20px;
  font-family: Arial;
}
.menu-bar{
}

